<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Навигация</title>
</head>
<body>
  {% load static %}
  <link href="{% static 'css/header_style.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <header>
    {% block navbar-content %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">L4task1</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
                {% block nav-home %}<a class="nav-item nav-link {% if navbar == 'home' %} active {% endif %}" href="{% url 'homepage:home' %}">На главную</a>{% endblock %}
                {% block nav-catalog %}<a class="nav-item nav-link {% if navbar == 'catalog' %} active {% endif %}" href="{% url 'catalog:item_list' %}">Список товаров</a>{% endblock %}
                {% block nav-about %}<a class="nav-item nav-link {% if navbar == 'about' %} active {% endif %}" href="{% url 'about:description' %}">О проекте</a>{% endblock %}
          </div>
        </div>
      </nav>
    {% endblock navbar-content %}
</header>
</body>
</html>
